<div>
  <h1 class="text-7xl"><%= @question.question %></h1>
  <div class="mt-6 grid grid-cols-2 gap-8">
    <%= for answer <- @answers do %>
      <button class="text-5xl"><%= answer %></button>
    <% end %>
  </div>
  <button phx-click="back">Back</button>
  <button phx-click="next">Next</button>
</div>
