<!DOCTYPE html>
<html>
  <section class="phx-hero">
    <img src="https://avatars.githubusercontent.com/u/7284022?s=70&v=4" class="center" />
    <h1><%= gettext("Welcome to %{name}!", name: "Quizium") %></h1>
    <button class="getStarted">
      <li><%= link("Get Started", to: Routes.user_session_path(@conn, :new)) %></li>
    </button>
  </section>
  <head>
    <style>
      .body {
        background: linear-gradient(to bottom, #E56717, #FF8400, #FFC594);
      }
      .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      }
      .phx-hero {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center;
      border-bottom: 1px solid #e3e3e3;
      border-radius: 6px;
      padding: 2em 2em 2em;
      margin-bottom: 3rem;
      font-weight: 100;
      font-size: 300%;
      line-height: 10;
      }
          .getStarted{
            background-color: #F97316;
            color: black;
            border: none;
            height: 50px;
            width: 200px;
            border-radius: 25px;
            cursor: pointer;
            font-size : 50%;
        }
    </style>
  </head>
  <body>
    <section class="row">
      <article class="column">
        <h2>Pages</h2>
        <ul>
          <li>
            <a href={Routes.question_index_path(@conn, :index)}>Questions</a>
          </li>
        </ul>
      </article>
    </section>
  </body>
</html>
